@{
    ViewBag.Title = "Despre noi";
}
<h2>@ViewBag.Title</h2>
<h3>Descriere: </h3>

<p>Suntem o companie care permite institutilor medicale sa initieze cereri pentru obtinerea unei </br>
   cantitati de sange. De asemenea oferim  institutilor si posibilitatea de a face donatii de sange </br>
    catre noi. </br> </br>
    Cele doua actiuni depind de tipul de utilizator ales.</br> </br>
    <strong>Doneaza</strong> este folosit pentru realizarea donatiilor.</br>
    <strong>Cere</strong> este folosit pentru inaintarea cererilor.
    </p>
