@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Dorobantilor, nr.125<br/>
    Telefon:0264 352 190
</address>

<address>
    <strong>E-mail:</strong> bancadesange@yahoo.com</br>
</address>